*, *::before, *::after { box-sizing: border-box; }
html { font-size: clamp(13px, 1.1vw + 8px, 20px); }
body { margin: 0; }

/* Spinner pijltjes netjes houden */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
